# Python
__pycache__/
*.py[cod]
*.sqlite3

# Env
env/
venv/
*.env

# Django static/media output
/staticfiles/
/media/

# VSCode / PyCharm / System
.vscode/
.idea/
.DS_Store

# Compiled or backup files
*.log
*.bak
*.tmp
